<%= render partial: "shared/summary_stats", locals: { number_of_visits: @number_of_visits, unique_visits: @unique_visits, number_of_links_shared: @number_of_links_shared, countries_reached: @countries_reached } %>

<div class="row">
  <div class="page-header">
    <h5>Team links list</h5>
  </div>
  <%= render partial: "short_urls/short_urls_table", locals: { short_urls: @short_urls } %>
</div>


<div class="right">
  <%= render partial: "short_urls/chart_block" %>
  <%= render partial: "short_urls/organizations_table", locals: {
    title: "Top organisations by number of visits"
  } %>
</div>
