@import "susy";

$heading: rgba(0,0,0,0.6);
$white-text: rgba(255,255,255, 0.7);
$dark-grey: #333;
$lightish-grey: #ddd;
$light-grey: #f7f7f7;
$light-text: #ccc;
$header-border: #e2e2e2;
$light-border: #f5f5f5;
$blue: #4295d5;
$orange: #F07000;
$green: #75B036;
$font-small: 0.8em;
$font-normal: 1em;
$font-big: 2em;

$total-columns: 12;
$home-banner-columns: 4;
$header-actions-columns: $total-columns - $home-banner-columns;
$section-columns: 6;
$column-width: 4.2em;
$gutter-width: 1em;
$grid-padding: 1em;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;

  a {
    text-decoration:none;
    color: $dark-grey;
  }
}

.hidden {
  display: none;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

header {
  margin: 0 auto;
  padding: 20px 0;
  background: $blue;

  .inner {
    max-width: 61.4em;
    margin: auto;
    overflow: hidden;
  }

  .left {
    float: left;
  }

  h1, h2 {
    margin: 0;
  }

  h1 {
    line-height: 1em;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
  }

  h2 {
    font-size: 1em;
    border: none;
    color: $white-text;
    font-weight: 300;
  }

  .header-actions {
    margin-top: 21px;
    width: 55%;
    float: right;
    text-align: right;
    color: $white-text;
    font-weight: 300;
    line-height: .5em;

    button {
      border: 1px solid white;
      color: white;

      &:hover, &:active {
        color: $blue;
        background-color: white;
      }
    }

    * {
      display: inline;
      margin-left: 5px;
    }

    a {
      color: $white-text;
      @include transition(all 0.5s ease);

      &:hover, &:active {
        color: #fff;
        @include transition(all 0.5s ease);
      }
    }
  }
}

.modal-overlay {
  display: none;
  z-index: 999999;
  background-color: black;
  opacity: 0.5;
  position:absolute;
  top: 0;
  width:100%; 
  height:200%;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50); 
}

.modal {
  display: none;
  z-index: 9999999;
  width: 600px;
  position:fixed;
  top:20%;
  left:50%;
  margin-left:-300px;
  background-color: $dark-grey;
  color: white;
  padding: 20px;
}

.main {
  max-width: 61.4em;
  margin: 0 auto;

  header {
    background: none;
    color: black;

    h3 {
      margin: 0;
    }
  }
}

#map {
  width: 100%;
  /*height: 400px;*/
}

button {
  @include border-radius (5px);
  border: 1px solid $blue;
  color: $blue;
  background: none;
  padding: 3px 10px;
  @include transition(all 0.5s ease);

  &:hover, &:active {
    background-color: $blue;
    color: #fff;
    @include transition(all 0.5s ease);
  }
}

.dashboard {
  margin-top: 0;
  padding: 0;

  button {
    border: 1px solid $green;
    color: $green;
    float: right;

    &:hover, &:active {
      color: white;
      background-color: $green;
    }
  }

  div.left {
    @include span-columns($section-columns,$total-columns);
  }

  div.right {
    @include span-columns($section-columns omega,$total-columns);
  }

  section {
    padding: 10px;
    overflow: auto;
    background-color: #fff;
    margin-bottom: 20px;
    @include border-radius(5px);

    header {
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid $header-border;

      h4 {
        margin: 0;
        font-size: 1.25em;
        font-weight: bold;
        color: $blue;
      }
    }

    p {
      margin: 0;
      font-size: 3em;
      font-weight: 400;
      text-align: right;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .pie-chart {
    ul {
      float: right;
      width: 16em;
      padding: 0;
      list-style-type: none;
      margin: 0;
      margin-top: 10px;

      li div {
        width: 40px;
        height: 26px;
        margin: 5px 8px;
        color: #fff;
        line-height: 20pt;
        padding-left: 10px;
        float:left;
      }

      li span {
        line-height: 29pt;
        font-size: 0.9em;
      }
    }
  }

  section table {
    width: 100%;

    tbody tr {
      border-bottom: 1px solid $light-border;
      &.single-row {
        border-bottom: none;
      }
    }

    td {
      height: 45px;
    }

    td.right {
      padding-left: 5px;
      text-align: right;

      &.time {
        color: $light-text;
        font-weight: 300;
      }
    }
  }

  .multi-row-table-wrapper {
    margin-bottom: 10px;
    height: 385px;
    overflow: auto;
  }
}

.new-link-form {
  display: none;
  position: absolute;
  top: 87px;
  left: 667px;
  z-index: 9999999;

  margin: 0;
  background: #ddd;
  width: 425px;
  background-color: $lightish-grey;
  border: 1px solid #bdbdbd;
  @include border-radius(5px);
  padding: 10px;

  -webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 7px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 7px rgba(50, 50, 50, 0.75);

  form {
    fieldset {
      border: none;
      padding: 0;

      &, dd {
        margin: 0;
      }

      input[type="text"] {
        width: 99%;
      }

      input[type="submit"], button {
        float: right;
      }
    }
  }
}

.new-link-form:after, .new-link-form:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.new-link-form:after {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 14px;
  margin-left: -14px;
}

.new-link-form:before {
  border-color: rgba(189, 189, 189, 0);
  border-bottom-color: #bdbdbd;
  border-width: 16px;
  margin-left: -16px;
}
