@import "susy";

$dark-grey: #2c2c2c;
$light-grey: #f7f7f7;

$total-columns: 12;
$home-banner-columns: 4;
$header-actions-columns: $total-columns - $home-banner-columns;
$section-columns: 6;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style: fluid;
$container-width: 70%;

section, header {
  margin: 10px 0 10px 0;
  color: $dark-grey;
}

// Notice: the map is out of the 12 columns fluid container
header.main, #title, #dashboard {
  @include container; 
  //@include susy-grid-background; // For debugging!
}

#home-banner {
  @include span-columns( $home-banner-columns - 2,$total-columns);
  @include post(2);
}

#header-actions {
  @include prefix(2,$header-actions-columns);
  @include span-columns($header-actions-columns - 2 omega,$total-columns);
  div {
    @include isolate-grid(6);
  }
}

#header-actions.signed-in {
  @include span-columns($header-actions-columns omega,$total-columns);
  div {
    @include isolate-grid(3);
  }
}

.hidden {
  display: none;
}

#map {
  width: 100%;
  height: 400px;
}

#dashboard {
  button {
    float: right;
    margin: 10px;
  }
  section > div {
    padding: 10px;
    overflow: auto;
  }
  section.left {
    @include span-columns($section-columns,$total-columns);

  }
  section.right {
    @include span-columns($section-columns omega,$total-columns);
    #pie {
      @include span-columns(7,12);
    }
    #pie-legend {
      @include span-columns(5 omega,12);
    }
  }
  section > div {
    background-color: $light-grey;
    margin: 10px;
  }
  section table {
    thead tr {
      border-bottom: 1px solid darken($light-grey, 20%);
    }
    tbody tr {
      border-bottom: 1px solid darken($light-grey, 3%);
    }
    td {
      height: 35px;
    }
    td.right {
      text-align: right;
    }
    width: 90%;
    margin: 0 auto;
  }
  #url-table-wrapper {
    height: 350px;
    overflow: auto;
  }
  
}


