@import "compass/css3/border-radius";
@import "susy";

$heading: rgba(0,0,0,0.6);
$dark-grey: #333;
$light-grey: #f7f7f7;
$font-small: 0.8em;
$font-normal: 1em;
$font-big: 2em;

$total-columns: 12;
$home-banner-columns: 4;
$header-actions-columns: $total-columns - $home-banner-columns;
$section-columns: 6;
$column-width: 4.2em;
$gutter-width: 1em;
$grid-padding: 1em;

// Notice: the map is out of the 12 columns fluid container
header.main, #title, #dashboard {
  @include container; 
  //@include susy-grid-background; // For debugging!
}

#home-banner {
  @include span-columns( $home-banner-columns - 2,$total-columns);
  @include post(2);
}

#header-actions {
  @include prefix(2,$header-actions-columns);
  @include span-columns($header-actions-columns - 2 omega,$total-columns);
  div {
    @include isolate-grid(6);
  }
}

#header-actions.signed-in {
  @include span-columns($header-actions-columns omega,$total-columns);
  div {
    @include isolate-grid(3);
  }
}

ul {
  list-style-type: none;
}

.container {
  font-family: 'Open Sans', sans-serif;
  a {
    text-decoration:none;
    color: $dark-grey;
  }
}

section, header {
  margin: 10px 0 10px 0;
  color: $dark-grey;
  font-size: $font-normal;
  line-height: 1.1;
  table {
    .right {
      font-weight: bold; 
    }
    thead {
      font-weight: bold; 
    }
  }
  table.single {
    tbody {
      font-size: $font-big;
      line-height: 2;
    }
  }
}

header {
  .items {
    display: inline-block;
    background: white;
    position:absolute;
  }
  .items > li:not(:first-child) {
    display: none;
  }
  .items:hover > li:not(:first-child) {
    display: block;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 0.9em;
  }
}

header.main {
  padding-bottom: 15px;
  border-bottom: 1px solid darken($light-grey, 30%);
}

.hidden {
  display: none;
}

h2, thead {
  font-size: 1.25em;
  line-height: 1em;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid darken($light-grey, 20%);
  color: $heading;
}

h2 {
  margin: 0;
}

#title {
  font-weight: bold;
  padding: 15px 0; 
}

#greetings, #sign-in {
  font-size: $font-small;
}

#map {
  width: 100%;
  height: 400px;
}

#pie-wrapper {
  //height: 240px;
}

#dashboard {
  margin-top: 0;
  padding: 0;
  button {
    float: right;
    margin: 10px;
    @include border-radius (5px);
    border: 1px solid $dark-grey;
    color: $dark-grey;
    background: none;
    padding: 3px 10px;
  }
  section > div {
    padding: 10px;
    overflow: auto;
  }
  section.left {
    @include span-columns($section-columns,$total-columns);

  }
  section.right {
    @include span-columns($section-columns omega,$total-columns);
    #pie {
      @include span-columns(3,6);
      padding-top: 12px;
    }
    #pie-legend {
      @include span-columns(3 omega,6);
      float: none;
      li div {
        width: 40px;
        height: 26px;
        margin: 5px 8px;
        color: #fff;
        line-height: 20pt;
        padding-left: 10px;
        float:left;
      }
      li span {
        line-height: 29pt;
        font-size: 0.9em;
      }
    }
  }
  section > div {
    background-color: $light-grey;
    margin-bottom: 20px;
    padding: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  section table {
    width: 100%;
    thead tr {
      border-bottom: 1px solid darken($light-grey, 20%);
    }
    tbody tr {
      border-bottom: 1px solid darken($light-grey, 3%);
      &.single-row {
        border-bottom: none;
      }
    }
    td {
      height: 45px;
    }
    td.right {
      padding-left: 5px;
      text-align: right;
      &.big_numbers {
        font-size: 2.5em;
        font-weight: 400;
        line-height: 1.25em;
        height: 35px;
      }
    }
  }
  .multi-row-table-wrapper {
    height: 350px;
    overflow: auto;
  }
  
}


