<div class="modal-overlay"></div>
<div class="modal">
  <h2>Welcome to your wcmc.io dashboard</h2>
  <p>Here you will be able to monitor the number of visits received by the documents you share, which organisations are viewing them and where the visits come from. To start tracking your documents, start by adding a new link to the dashboard and sharing it with your contacts.
  </p>
  <button>Start adding links</button>
</div>
