<div class="modal-overlay"></div>
<div class="modal">
  <h2>Welcome to your wcmc.io dashboard</h2>
  <p>
    To get started tracking your links, documents and other digital
    files, simply click on the "new link" button on the top right of the
    page, and paste the link to your content into the box provided. This
    will generate a unique URL which we can track so you know how many
    times your content has been accessed, and from where. You can
    customise the URL ending (wcmc.io/mylink) by ticking the "Edit the
    URL name before sharing" box.
  </p>
  <%= link_to "Start adding links", hide_info_modal_path, class: "button" %>
</div>
