<section>
  <header>
    <h4><%= title %></h4>
  </header>

  <div class="multi-row-table-wrapper">
    <table>
      <tbody>
      <% @visits_by_organization.each_with_index do |organization, index| %>
        <tr class="<% if index > 7 %>all hidden<% end -%>">
          <td>
            <%= organization.name %>
          </td>
          <td class="right">
            <%= organization.visit_count %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if @visits_by_organization.length > 8 %>
    <button class="view-all">View All</button>
  <% end %>
</section>
