<section>
  <header>
    <h4><%= title %></h4>
  </header>

  <div class="multi-row-table-wrapper">
    <table>
      <tbody>
      <% @visits_by_organization.each do |organization| %>
        <tr>
          <td>
            <%= organization.name %>
          </td>
          <td class="right">
            <%= organization.visit_count %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
