<li>
  <div class="details">
    <%= organization.name %>
    <span class="stat"><%= organization.visit_count %></span>
  </div>
  <div class='side-hover-action'>
    <%= link_to 'Disregard', organization, :method => :delete, :data => {:confirm => "Are you sure?"} %>
  </div>
</li>
