<div>
  <table class="single">
    <thead>
      <tr>
        <td>
          <%= title -%>
        </td>
        <td>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="right">
          <%= value -%>
        </td>
    </tbody>
  </table>
</div>