<section>
  <header>
    <h4><%= title %></h4>
  </header>

  <div id="teams_table" class="expandable-table">
    <% if @visits_by_team_count > 0 %>
      <table>
        <tbody>
        <% @visits_by_team.each_with_index do |team, index| %>
          <tr class="<% if index > 7 %>all hidden<% end -%>">
            <td>
              <%= team.name %>
            </td>
            <td>
              <%= team.visit_count %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <% if @visits_by_team.length > 8 %>
        <button class="view-all">View All</button>
      <% end %>
    <% else %>
      <big>No visits yet</big>
    <% end %>
  </div>
</section>