<header class="main">
  <div id="home">Home</div>
  <div id="header-actions">
    <% if user_signed_in? %>
      <div id="greetings">Hello
        <%= truncate("#{current_user.email}", 
          :length => 22, :omission => '...') %>
      </div>
      <div id="new-link"><button>+ New Link</button></div>
      <div id="search-link">
        <input type="text">
      </div>
    <% else -%>
      <div id="sign-in">Sign in or register</div>
    <% end -%>
  </div>
</header>

<section id="title">
  <div>Shared stuff</div>
</section>

<section id="map">
</section>

<section id="dashboard">
  <section class="left">
    <div>
      <table>
        <thead>
          <tr>
            <td>
              Total visits
            </td>
            <td>
            </td>
          </tr>
        </thead>
        <tbody>
        <% @short_urls.last(8).each_with_index do |short_url, index| %>
          <tr>
            <td>
              <%= index + 1 %>. <%= short_url.short_name %>
            </td>
            <td class="right">
              <%= short_url.created_at.strftime("%d %b. %Y") %>
            </td>
        <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <section class="right">
    <div>right</div>
  </section>
</section>