<section id="title">
  <div>Shared stuff</div>
</section>

<section id="map">
</section>

<section id="dashboard">
  <section class="left">
    <%= render partial: "single_row_table", locals: {
      title: "Total number of visits",
      value: "15000000" } %>
    <% if user_signed_in? %>
      <%= render partial: "multi_row_table", locals: {title: "Your links"} %>
    <% else -%>
      <%= render partial: "single_row_table", locals: {
        title: "Number of links shared",
        value: "300" } %>
      <%= render partial: "multi_row_table", locals: {title: "Total visits"} %>
    <% end -%>
  </section>
  <section class="right">
    <div>right</div>
  </section>
</section>