<header class="main">
  <div id="home">Home</div>
  <div id="header-actions">Login</div>
</header>

<section id="title">
  <div>Shared stuff</div>
</section>

<section id="map">
</section>

<section id="dashboard">
  <section class="left">
    <div>left</div>
  </section>
  <section class="right">
    <div>right</div>
  </section>
</section>