<header class="main">
  <div id="home-banner">Home</div>
  <div id="header-actions" class="<% if user_signed_in? %>signed-in<% end -%>">
    <% if user_signed_in? %>
      <div id="greetings">Hello
        <%= truncate("#{current_user.email}", 
          :length => 22, :omission => '...') %>
      </div>
      <div id="new-link"><button>+ New Link</button></div>
      <div id="search-link">
        <input type="text">
      </div>
    <% else -%>
      <div id="sign-in">Sign in or register</div>
    <% end -%>
  </div>
</header>

<section id="title">
  <div>Shared stuff</div>
</section>

<section id="map">
</section>

<section id="dashboard">
  <section class="left">

    <%= render partial: "short_url_table", locals: {title: "Total visits"} %>
    
  </section>
  <section class="right">
    <div>right</div>
  </section>
</section>