<% title "http://wcmc.io/#{@short_url.short_name}" %>

<% content_for :page_actions do %>
  <button><i class="fa-trash-o"></i> Delete this link</button>
  <button><i class="fa-pencil-square-o"></i> Edit this link</button>
<% end %>

<div class="left">
  <%= render partial: "short_urls/headline_number", locals: {
    title: "Total number of visits",
    value: @total_visits
  } %>

  <%= render partial: "short_urls/chart_block" %>
</div>

<div class="right">
  <%= render partial: "short_urls/organizations_table", locals: {
    title: "Top organizations by number of visits"
  } %>
</div>
