<h1>Welcome to wcmc.io</h1>
<p>Our new super friendly UI allows you to create shortened URls with just one curl command!</p>
<p><i>curl --data "url=http://url.to/shorten&short_name=myUrl" http://wcmc.io/</i></p>
<p>Then visit http://wcmc.io/myUrl to redirect to the longer address, logging all your traffic and personal information</p>
<p>View visit information for a shortened url at:</p>
<p><i>http://wcmc.io/short_urls/myUrl</i></p>
