<div class="container">
  <header>

  <h1>wcmc.io<span>shorten // share // track</span></h1>
  <div class="form-container">
    <form>
      <input id="url-to-shorten" type="text" placeholder="Paste a link to shorten">
      <button id="shorten-link-btn" class="btn" type="submit" >Shorten</button>
    </form>
  </div>

  </header>

  <section>

  <ul id="short-url-list">
    <% @short_urls.each do |short_url| %>
      <li>
        <p><%= short_url.url %>
          <%= link_to(visit_short_url_path(short_name: short_url.short_name)) do %>
            wcmc.io/<%= short_url.short_name %><span><%= short_url.visit_count %> clicks</span>
          <% end %>
        </p>
        <button class="btn">copy</button>
      </li>
    <% end %>
  </ul>

  </section>

</div>	

