<div class="container">
  <header>

  <h1>wcmc.io<span>shorten // share // track</span></h1>
  <div class="form-container">
    <form>
      <input id="url-to-shorten" type="text" placeholder="Paste a link to shorten">
      <button id="shorten-link-btn" class="btn" type="submit" >Shorten</button>
    </form>
  </div>

  </header>

  <section>

  <ul class="lists">
    <% @short_urls.each do |short_url| %>
      <li>
        <div class="details">
		<div>
          <%= short_url.url %>
            <%= link_to("wcmc.io/#{short_url.short_name}", visit_short_url_path(short_name: short_url.short_name)) %>
            <span class='stats'><%= link_to("#{short_url.visit_count} visits", short_url) %></span>
          </div>
        <button class="btn">copy</button>
        </div>
      </li>
    <% end %>
  </ul>

  </section>

</div>	

