<div class="container">
  <header>

  <h1>wcmc.io<span>shorten // share // track</span></h1>
  <div class="form-container">
    <form>
      <input type="text" placeholder="Paste a link to shorten">
      <button class="btn" type="submit" >Shorten</button>
    </form>
  </div>

  </header>

  <section>

  <ul>
    <li>
    <p>www.mylink.co.uk
    <a href="#">wcmc.io/wucbs<span>27,678 clicks</span></a></p>
    <button class="btn">copy</button>
    </li>
    <li>
    <p>www.myotherlink.co.uk
    <a href="#">wcmc.io/wucbs<span>27,678 clicks</span></a></p>
    <button class="btn">copy</button>
    </li>
    <li>
    <p>www.myotherlink.co.uk
    <a href="#">wcmc.io/wucbs<span>27,678 clicks</span></a></p>
    <button class="btn">copy</button>
    </li>
  </ul>

  </section>

</div>	

