// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #CFCFCF;
$orange: #f38417;
$green: #8EBD57;

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100%; width: 100%; }

body {
  line-height: 1;
  background: url(../background_small.gif) top left repeat-x;
}

span.link {
  cursor: pointer;
  cursor: hand;
}


div .inactive {
  color: $grey;
  font-size: 1.2em;
}

div .active {
  color: $green;
  font-size: 1.2em;
}

span.watch-all {
  background: url(../watch-2_grey.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

span.watch-all.active {
  background: url(../watch-2_green.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}


.watch {
  background: url(../watch_grey.svg);
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  cursor: pointer;
  cursor: hand;
}

//.watch:hover, 
.watch.active {
  background: url(../watch_green.svg);
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  cursor: pointer;
  cursor: hand;
}

// Map container.
.container {
  width: 100%;
  height: 420px;
  margin: 20 auto;
}

// Make the margin bigger to push down the map 
// and enlarge the green header stripe.
h1 {
  font-size: 2.3em;
  margin: 2px auto;
  text-align: center;
}

section.map {
  width: 600px;
  margin: 0 auto;
}

span.stats  {
  font-weight: normal;
  margin: 5px;
  font-size: 0.9em;
  color: #fff;
  background: none;
  padding: 0;
}

.locations, .locations svg {
  position: absolute;
}
 
.locations svg {
  //width: 60px;
  //height: 20px;
  //padding-right: 100px;
  font: 10px sans-serif;
  //border: 1px solid #000;
}
 
.inactive circle {
  fill: darken($grey, 10%); 
  //fill: $orange;
  stroke: darken($orange, 10%);
  stroke-width: 2px;
  fill-opacity: .8;
}

.active circle {
  fill: $orange;
  stroke: darken($orange, 10%);
  //stroke: darken($green, 20%);
  stroke-width: 2px;
  fill-opacity: .8;
}

svg text {
  fill: darken($orange, 25%);
  //stroke-width: 1;
  //stroke: darken($orange, 15%);
  //shape-rendering: crispEdges;
  //font-family: 'Raleway', sans-serif;
  font-size: 2em;
  //font-weight: bold;
}

#help, #home {
  display: none;
}

.sub-header {
  //margin: 0;
}

#list-intro-header {
  padding-top: 30px;
  font-size: 1.3em;
  margin: 2px auto;
  text-align: center;
  font-weight: bold;
}

#list-intro-sub-header {
  font-size: 1em;
  margin: 2px auto;
  text-align: center;
}

#list-header {
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

//list-header span {
// margin-left: 550px;
//
