// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100%; width: 100%; }

body {
  line-height: 1;
  background: url(../background_vsmall.gif) top left repeat-x;
}

.container {
  width: 100%;
  height: 420px;
  margin: 60 auto;
}

h1 {
  font-size: 2.3em;
  margin: 6px auto;
  text-align: center;
}

section.map {
  width: 600px;
  margin: 0 auto;
}

span.stats  {
  font-weight: normal;
  margin: 5px;
  font-size: 0.9em;
  color: #fff;
  background: none;
  padding: 0;
}

.locations, .locations svg {
  position: absolute;
}
 
.locations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}
 
.locations circle {
  fill: #f38417;
  stroke: black;
  stroke-width: 1.5px;
}