<% title "Your shared links" %>

<div class="left">
  <%= render partial: "short_urls/headline_number", locals: {
    title: "Total number of visits",
    value: @total_visits
  } %>

  <section>
    <header>
      <h4>Your links</h4>
    </header>

    <div id="short_urls_table" class="expandable-table">
      <%= render partial: "short_urls/short_urls_table" %>
    </div>
  </section>
</div>
