<div id="change-history-modal-<%= short_url.id %>" class="modal history-modal" title="Change History" style="display:none;">
  <% if short_url.versions.blank? %>
    <p>This link has no change history yet</p>
  <% else %>
    <table class="table history" id="datatable">
      <thead>
        <th>Change</th>
        <th>Author</th>
        <th>Date</th>
      </thead>
      <tbody>
        <% short_url.versions.last(10).each do |v| %>
          <tr>
            <td><%= v.event %></td>
            <td><%= v.whodunnit? ? v.whodunnit : "Admin" %></td>
            <td><%= v.created_at.strftime("%I:%M%p %d/%m/%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
