<%= javascript_include_tag params[:controller] %>
<h1 id="compare_title">Compare Stats</h1>

<section class="chart">
  
  <div id="results_one" class="chart">
    <div id="results_one_url">
      <span class="results_title">URL:</span>
      <span class="results url"></span>
    </div>
    <div id="results_one_tot_res">
      <span class="results_title">Overall clicks:</span>
      <span class="results"></span>
    </div>
    <div id="results_one_mon_res">
      <span class="results_title">This month clicks:</span>
      <span class="results"></span>
    </div>
  </div>
  <div id="chart_one" class="chart"></div>


</section>


<script type="text/javascript">
      window.WukumUrl = WukumUrl || {};
      window.WukumUrl.data = JSON.parse(<%= @data.to_json.html_safe %>);
</script>