<%= javascript_include_tag params[:controller] %>
<h1>Compare Stats</h1>

<section>
  
  <div id="chart_one" class="chart">Hello!</div>

</section>


<script type="text/javascript">
      window.WukumUrl = WukumUrl || {};
      window.WukumUrl.data = JSON.parse(<%= @urls.to_json.html_safe %>);
</script>