<h1>Compare Stats</h1>

<section>
  
  <div class="chart">Hello!</div>

</section>


<script type="text/javascript">
  $(document).ready(
    function() {
      window.WukumUrl = {};
      window.WukumUrl.data = JSON.parse(<%= @urls.to_json.html_safe %>);
      console.log(WukumUrl.data);
  });
</script>