<%= javascript_include_tag params[:controller] %>
<h1>Compare Stats</h1>

<section class="chart">
  
  <div id="results_one" class="chart">
    <div id="results_one_url">
      <span class="results_title">Short URL:</span>
      <span class="results"></span>
    </div>
    <div id="results_one_tot_res">
      <span class="results_title">Total counts:</span>
      <span class="results"></span>
    </div>
    <div id="results_one_mon_res">
      <span class="results_title">This month counts:</span>
      <span class="results"></span>
    </div>
  </div>
  <div id="chart_one" class="chart"></div>


</section>


<script type="text/javascript">
      window.WukumUrl = WukumUrl || {};
      window.WukumUrl.data = JSON.parse(<%= @urls.to_json.html_safe %>);
</script>