host: 'https://<app>.cartodb.com'
oauth_key: ''
oauth_secret: ''
username: ''
password: ''
api_key: ''
tables:
  development:
    organizations_by_user: 'wcmc_io_organizations_by_user_development'
    organizations_by_short_url: 'wcmc_io_organizations_by_short_url_development'
    visits_by_organizations: 'wcmc_io_visits_by_organization_development'
