<form accept-charset="UTF-8">
   <fieldset>
      <dl>
        <dt><label for="url">Update the URL you want to share</label></dt>
        <dd><input id="url" name="url" type="text" value="<%= url %>"></dd>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt>
          <label for="short_name">Edit the URL name before sharing</label>
        </dt>
        <dd><input id="short_name" name="short_name" type="text" value="<%= short_name %>"></dd>
      </dl>
    </fieldset>

    <fieldset>
      <button class="save">Save</button>
    </fieldset>
</form>
