<form accept-charset="UTF-8">
   <fieldset>
      <dl>
        <dd><input id="url" name="url" type="text" placeholder="Insert the URL you want to share"></dd>
      </dl>
    </fieldset>

    <fieldset id="edit-before">
      <dl>
        <dt>
          <input type="checkbox" id="edit_name" name="edit_name">
          <label for="short_name">Edit the URL name before sharing</label>
        </dt>
        <dd class="hidden"><input id="short_name" name="short_name" type="text"></dd>
      </dl>
    </fieldset>

    <fieldset>
      <button class="create">Create</button>
    </fieldset>
</form>
