@import 'utilities/colors';

table {
  color: $grey-66;
  border: 1px solid $grey-cb;

  &.table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 1px solid $grey-cb;
      padding: 0.5em;
    }
  }

  thead {
    text-align: left;
  }
}

#datatable_length, #datatable_filter, #datatable_info, #datatable_paginate {
  color: $grey-66;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-bottom: 1px solid $grey-cb;
}

.paginate-button {
  border: 1px solid $blue-dark-24 !important;
  background-color: none;
}
