@import "variables";
@import "mixins";

.popover {
  display: none;
  position: absolute;
  z-index: 9999999;

  margin: 0;
  background-color: $popover-grey;
  @include border-radius(5px);
  padding: 15px;
  font-size: 0.85em;
  color: $darkBlue;
  width: 300px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.15);
  border: 1px solid #eee;

  &.show {
    display: block;
  }

  form {
    overflow: hidden;

    div {
      padding-bottom: 15px;
    }

    div.hidden {
      padding: 0;

      input {
        margin-top: 0;
      }
    }

    div#remember {
      float: left;
      padding-bottom: 0;
    }

    div#sign_button {
      float: right;
      padding-bottom: 0;
    }

    button {
      @include border-radius(5px);
      background: $orange;
      color: rgba(255,255,255,0.9);
      font-weight: 300;
      font-size: 1em;
      line-height: 1.75em;
      border: none;
      padding: 0 15px 3px 15px;
      &:hover, &:active {
        background: $darkOrange;
        @include transition(all 0.5s ease);
      }
    }

    label.error {
      color: #ff5a5a;
    }

    input {
      @include border-radius(3px);
      outline: none;

      &[type="email"], &[type="password"], &[type="text"] {
        border: none;
        line-height: 1.85em;
        padding-left: 10px;
        margin-top: 5px;
        border: 1px solid #eee;

        &.error {
          border: 1px solid #ff5a5a;
        }
      }

      &[type="email"], &[type="password"] {
        width: 268px;
      }

      &[type="submit"] {
        @include border-radius(5px);
        background: $orange;
        color: rgba(255,255,255,0.9);
        font-weight: 300;
        line-height: 1.75em;
        border: none;
        padding: 0 15px 3px 15px;
        &:hover, &:active {
          background: $darkOrange;
          @include transition(all 0.5s ease);
        }
      }
    }

    input[type="checkbox"] {
      border: none;
      background: #fff;
    }

    fieldset {
      border: none;
      padding: 0;

      &, dd {
        margin: 0;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 99%;
      }

      input[type="submit"], button {
        float: right;
      }
    }
  }
}

.popover:after, .popover:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popover:after {
  border-color: rgba(48, 110, 157, 0);
  border-bottom-color: $popover-grey;
  border-width: 7px;
  margin-left: -7px;
}

.popover:before {
  border-color: rgba(48, 110, 157, 0);
  border-bottom-color: $popover-grey;
  border-width: 9px;
  margin-left: -9px;
}


.new-link-form {
  width: 400px;
  input[type="text"] {
    width: 368px;
  }
  fieldset#edit-before {
    float: left;
    margin-top: -10px;
  }
}
