@import "susy";

@import "mixins";
@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;

  a {
    text-decoration:none;
    color: $dark-grey;
  }
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

div.header {
  margin: 0 auto;
  padding: 20px 0;
  background: $blue;

  .inner {
    max-width: 61.4em;
    margin: auto;
    overflow: hidden;
  }

  h1, h2 {
    margin: 0;
  }

  h1 {
    line-height: 1em;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
  }

  h2 {
    font-size: 1em;
    border: none;
    color: $white-text;
    font-weight: 300;
  }

  .header-actions {
    margin-top: 21px;
    width: 55%;
    float: right;
    text-align: right;
    color: $white-text;
    font-weight: 300;
    line-height: .5em;

    button {
      border: 1px solid white;
      color: white;

      &:hover, &:active {
        color: $blue;
        background-color: white;
      }
    }

    * {
      display: inline;
      margin-left: 5px;
    }

    a {
      color: $white-text;
      @include transition(all 0.5s ease);

      &:hover, &:active {
        color: #fff;
        @include transition(all 0.5s ease);
      }
    }
  }
}

.modal-overlay {
  z-index: 999999;
  background-color: black;
  opacity: 0.5;
  position:absolute;
  top: 0;
  width:100%;
  height:200%;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50);
}

.modal {
  z-index: 9999999;
  width: 600px;
  position:fixed;
  top:20%;
  left:50%;
  margin-left:-300px;
  background-color: $dark-grey;
  color: white;
  padding: 20px;
}

.dashboard, header, .header .inner {
  max-width: 61.4em;
}

header {
  max-width: 61.4em;
  margin: 20px auto;
  overflow: hidden;
  background: none;
  color: black;

  h3 {
    float: left;
    margin: 0;
  }
}

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
}

button,
.button {
  @include border-radius (5px);
  border: 1px solid $blue;
  color: $blue;
  background: none;
  padding: 3px 10px;
  @include transition(all 0.5s ease);

  &.hover, &:hover, &:active {
    background-color: $blue;
    color: #fff;
    @include transition(all 0.5s ease);
  }
}

.dashboard {
  margin: 0 auto;
  padding: 0;

  button {
    border: 1px solid $green;
    color: $green;
    float: right;

    &:hover, &:active {
      color: white;
      background-color: $green;
    }
  }

  div.left {
    @include span-columns($section-columns,$total-columns);
  }

  div.right {
    @include span-columns($section-columns omega,$total-columns);
  }

  section {
    padding: 10px;
    overflow: auto;
    background-color: #fff;
    margin-bottom: 20px;
    @include border-radius(5px);

    header {
      padding: 10px 0;
      margin: 0;
      margin-bottom: 10px;
      border-bottom: 1px solid $header-border;

      h4 {
        margin: 0;
        font-size: 1.25em;
        font-weight: bold;
        color: $blue;
      }
    }

    p {
      margin: 0;
      font-size: 3em;
      font-weight: 400;
      text-align: right;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .pie-chart {
    ul {
      float: right;
      width: 16em;
      padding: 0;
      list-style-type: none;
      margin: 0;
      margin-top: 10px;

      li div {
        width: 40px;
        height: 26px;
        margin: 5px 8px;
        color: #fff;
        line-height: 20pt;
        padding-left: 10px;
        float:left;
      }

      li span {
        line-height: 29pt;
        font-size: 0.9em;
      }
    }
  }

  section table {
    width: 100%;
    margin-bottom: 10px;

    tbody tr {
      border-bottom: 1px solid $light-border;
      &.single-row {
        border-bottom: none;
      }
    }

    td {
      height: 45px;
    }

    td:last-child {
      padding-left: 5px;
      text-align: right;
    }
  }
}

@import "popover";

.sign-up-form {
  top: 70px;
  left: 923px;
  width: 205px;
}

.sign-in-form {
  top: 70px;
  left: 997px;
  width: 205px;
}

.new-link-form {
  top: 87px;
  left: 667px;
  width: 425px;

  fieldset:last-child {
    text-align: right;
  }

  .copied {
    display: none;
    margin-right: 10px;
    line-height: 2em;
  }
}

.edit-link-form {
  top: 150px;
  left: 800px;
}
