// Colours

$turquoise: #3BE2D1;

$blue: #4295D5;
$blue-light-12: #58A1DA;
$blue-light-24: #6FAEDF;
$blue-light-36: #86BBE4;
$blue-light-48: #9CC7E9;

$blue-dark-12: #3982BB;
$blue-dark-24: #3271A2;
$blue-dark-36: #2A5F88;
$blue-dark-48: #224D6F;

$grey-44: #444444;
$grey-66: #666666;
$grey-88: #888888;
$grey-aa: #AAAAAA;
$grey-cb: #CBCBCB;
$grey-ee: #EEEEEE;
$grey-f9: #F9F9F9;
