@import 'colors';

// Buttons

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 15px 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;

  &:hover { text-decoration: none; }
}

.btn-primary {
  background-color: $blue-dark-24;
  color: $white;
}

.btn-primary:hover {
  background-color: $blue-dark-12;
}

.btn-secondary {
  background-color: $white;
  border: 2px solid $blue-dark-24;
}

a.btn-primary { color: $white;}

footer {
  background-color: $blue-dark-24;
  padding: 10px;
}

// Modal

.ui-dialog-titlebar {
  padding: 0;
  margin-bottom: 1em;
}

.ui-dialog {
  padding: 1.25em;

  .ui-dialog-titlebar-close {
    border:none;
    background: none;
  }

  .ui-dialog-titlebar, .ui-dialog-content {
    padding: 0 0 0.5em 0;
    color: $grey-66;

    input:not([type=submit]):not([type=file]):not([type=checkbox]), select, textarea, .stretch {
      box-sizing: border-box;
      width: 100%;
    }
  }
}


.ui-widget-overlay {
  background-color: $grey-66;
  background-image: none;
  opacity: 0.8;
  z-index: 1040;
}

.ui-corner-all { border-radius: 0; }
.ui-widget-content {
  border: none;
  font: 400 1em/1.571em 'Open Sans', san-serif;
}

.ui-widget-header {
  background: none;
  border: none;
  border-bottom: 1px solid $grey-cb;
  font: 400 1.143em/1.571em 'Open Sans', san-serif;
}

// Bits

hr {
  display: block;
  height: 1px;
  background-color: $grey-cb;
  margin-top: 1.143em;
  margin-bottom: 1.143em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border: none;
}

.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.divider > span {
  position: relative;
  display: inline-block;
  font-style: italic;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: $grey-cb;
}

.divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.divider > span:after {
  left: 100%;
  margin-left: 15px;
}

.page-header {
  width: 100%;
  border-bottom: 1px solid $grey-cb;
  margin: 1em 0 2em 0;
}

.alert {
  border: 1px solid $blue-dark-24;
  padding: 1em;
  margin: 1em 0;
}

#error_explanation {
  background-color: $blue;
  border-radius: 2px;
  padding: 1em;
  margin: 1em 0;
  color: $white;
  p.headline { color: $white; margin: 0; }
}

.tooltip {
  position: relative;
}

.tooltip-trigger {
  background-color: $blue-dark-24;
  padding: 5px 12px;
  border-radius: 3px;
}

.tooltip-panel {
  display: none;
  width: 500px;
  position: absolute;
  left: -466px;
  top: 32px;
  z-index: 999;
  border: 1px solid $grey-cb;
  background-color: $white;
  padding: 1em;
  box-shadow: 0px 0px 5px $grey-cb;

  .tooltip-action {
    display: block;
    margin: 1em;
  }

  &:after, &:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: $white;
    border-width: 15px;
    margin-left: -15px;
  }
  &:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: $grey-cb;
    border-width: 16px;
    margin-left: -16px;
  }
}
// Form Elements

input:not([type=submit]):not([type=file]):not([type=checkbox]), select, textarea {
  border: 1px solid $grey-cb;
  padding: 0.55em;
}

input:not([type=submit]), select, textarea {
  margin: 0.571em 0 0.571em 0;
}

select {
  //display: block;
}

// Datatables

table {
  color: $grey-66;
  border: 1px solid $grey-cb;
  &.history {
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 1px solid $grey-cb;
      padding: 0.5em;
    }
  }

  thead {
    text-align: left;
  }
}

#datatable_length, #datatable_filter, #datatable_info, #datatable_paginate {
  color: $grey-66;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-bottom: 1px solid $grey-cb;
}

.paginate-button {
  border: 1px solid $blue-dark-24 !important;
  background-color: none;
}

// Map

#map {
  height: 500px;
}

// Font Awesome

.fa { color: $blue-dark-24; }
