@import 'colors';
$breakpoint: 600px;

body { height: 100%; }

div.content {
  overflow: auto;
  padding-bottom: 60px;
}

footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

div.header {
  ul {
    list-style: none;
    background-color: $blue-dark-24;
    text-align: center;
    padding: 0;
    margin: 0;

    li {
      line-height: 40px;
      color: $white;
      border-bottom: 1px solid $blue-dark-36;
      @media screen and (min-width: $breakpoint) {
        border-bottom: none;
        display: inline-block;
        margin-right: -4px;
      }

      &.strapline, &.unep-logo, &.wcmcio-logo {
        @media screen and (max-width: $breakpoint) {
          display: none;
        }
      }

      &.unep-logo {
        background-color: $blue;
        background-image: image-url("triangle.png") no-repeat right center;
      }

      a {
        color: $white;
        display: block;
        transition: .3s background-color;
        @media screen and (min-width: $breakpoint) {
          padding: 10px 20px;
        }

        &:hover {
          text-decoration: none;
          background-color: $blue;
        }
      }

    }
  }
}

nav {
  padding: 25px 0;
  border-bottom: 1px solid $grey-cb;
}
