@import 'colors';
$breakpoint: 600px;

body { height: 100%; }

div.content {
  padding-bottom: 40px;
}

footer {
  position: relative;
  margin-top: -40px;
  height: 40px;
  clear: both;
}

div.header {
  background: linear-gradient(to right, $blue, $blue-dark-24);
  overflow: hidden;
  color: $white;
  div.container {
    div {
      display: inline-block;
      line-height: 60px;
      &.left {
        float: left;
        background-image: image-url('triangle-background.png');
        background-postition: right center;
      }
      &.right {
        float:right;
      }
      &.strapline {
        background: $blue-dark-24;
        padding: 0 2em;
        span {
          font-size: 1.5em;
        }
      }
      &.divider {
        position:absolute;
        left:50%;
        top:10%;
        bottom:10%;
        border-left:1px solid white;
      }

      a { color: $white; }
    }
  }
}

nav {
  border-bottom: 1px solid $grey-cb;
  @media screen and (max-width: $breakpoint) {
    border-bottom: none;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
      text-align: center;
    }

    a.text {
      color: $grey-44;
      padding: 30px 20px;

      &:hover {
        padding-bottom: 26px;
        text-decoration: none;
        border-bottom: 4px solid $turquoise;
        @media screen and (max-width: $breakpoint){
          padding: 1em;
          border-bottom: none;
        }
      }
      @media screen and (max-width: $breakpoint) {
        padding: 1em;
      }
    }
    a.btn {
      align-self:center;
      @media screen and (max-width: $breakpoint) {
        align-self:stretch;
      }
    }

  }
}

// Misc

.centered { text-align: center }

    /*padding: 25px 0;*/
    /*border-bottom: 1px solid $grey-cb;*/

    /*a.text {*/
    /*color: $grey-44;*/
    /*padding: 13px;*/

    /*&:hover {*/
    /*text-decoration: none;*/
    /*font-weight: 400;*/
    /*border-bottom: 3px solid $turquoise;*/
    /*}*/
    /*}*/
