<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
      * { font-family: 'Open Sans', sans-serif; }
    </style>
  </head>

  <body>
    <h2>Hello WCMC.io users,</h2>

    <p>The informatics team have recently added some great new features to wcmc.io which require your input.</p>

    <p>We've introduced a ‘teams’ functionality so users of WCMC.io can now be grouped by programme, and have the ability to edit and delete links from other members of their ‘team’. This looks to solve issues around the updating and administration of WCMC.io short links when the original creator of the link is unavailable.</p>

    <p>To get started, you need to choose join your programme by <%= link_to('clicking here.', confirmation_url(@resource, confirmation_token: @token)) %></p>

    <p>Users can also now see which other members of their Programme (or 'team'), are signed up to WCMC.io, as well as seeing what links have been shared by other individuals and teams, and how many times these links have been visited.</p>

    <p>Remember, to get started you need to join your programme by <%= link_to('clicking here.', confirmation_url(@resource, confirmation_token: @token)) %>  Once that's done, you’re all set!</p>

    <p>Many thanks,</p>
    <p>The WCMC.io Admin Team</p>
  </body>
</html>
